/* Style for the body of the page */
body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* Style for the h1 heading */
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Style for the h2 heading */
h2 {
    font-size: 30px;
    color: #0D0D0D;
}

/* Style for the default paragraphs */
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/* Default style for images */
img {
    width: 250px;
    display: block;
    margin: auto;
    /* Center images */
    border: 10px dashed #FFFFFF;
}

/* Default style for div elements */
div {
    min-height: 125px;
    /* At least 125px tall */
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* Style for the introduction class */
.introduction {
    border-radius: 15px;
    /* 15px border-radius for curved edges */
    margin-top: 15px;
    line-height: 2;
}

/* Style for the red class */
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-top: 0;
    border-right: 0;
}

/* Style for the blue div */
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-left: 0;
    border-bottom: 0;
    color: #C4C4C4;
    /* Color for text for better contrast */
}

.blue h2{
    color: #C4C4C4
}

/* Style for the yellow div */
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-top: 0;
    border-right: 0;
    color: #707070;
}
/* Style for the green div */
.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-bottom: 0;
    border-left: 0;
}

/* Style the default footer elements */
footer {
    background: linear-gradient(90deg, #000000 0%, #0000FF 25%, #0066ff 70%, #000000 100%);
    border: 5px solid #FFFFFF;
}

/* Style paragraphs within the footer */
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}